.success_message {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.error_message {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

h1 {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 0.8rem;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 0.3rem;
}

h2 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  color: #333;
  margin-top: 1.5rem;
  margin-bottom: 0.6rem;
  letter-spacing: 0.02em;
}